th {
  font-weight: bold;
  text-align: left;
}

tr.winner td {
  font-weight: bold;
}

button {
  color: white;
  font-size: 1em;
  font-weight: bold;
  background-color: crimson;
  border: none;
  padding: 1em 3em;

  cursor: pointer;
}

button[disabled] {
  background-color: #aaaaaa;
  cursor: default;
}

.log {
  height: 150px;
  overflow-y: scroll;

  font-size: 80%;
  background-color: #eee;
  padding: 1em 3em;
}

.log em {
  font-style: normal;
  /*font-size: 200%;*/
}

.progress-bar {
  width: 250px;
  height: 1.2em;
  line-height: 1.2em;

  position: relative;
  display: block;
}

.progress-bar > span {
  background-color: blue;
  border-radius: 2px;

  display: block;
  text-indent: -9999px;

  transition: width 200ms;
}

.signed {
  text-align: right;
}
